{% extends 'base.html' %}

{% block title %}Программа тренировок{% endblock %}

{% block content %}
    <div class="training-program">
        <h2 class="workout_program">Программа тренировок для улучшения показателей в нормативах ГФОК</h2>
        <h2>Начинайте с уровня, который соответствует вашей физической подготовке, 
            и постепенно увеличивайте нагрузку по мере улучшения физической формы.
        Также важно следить за регулярностью тренировок и прогрессом.
        Обязательно выполняйте разминку перед началом упражнений для профилактики травм.</h2>
        
        <div class="level beginner">
            <h2>Начинающий уровень (Оценки 1-3)</h2>
            <div class="day">
                <h3>Понедельник и Четверг</h3>
                <ul>
                    <li>Бег в умеренном темпе 15 минут</li>
                    <li>Наклоны вперед из положения сидя (3 подхода по 8-10 повторений)</li>
                    <li>Подтягивания (3 подхода по 5-8 повторений)</li>
                    <li>Планка (3 подхода по 20-30 секунд)</li>
                </ul>
            </div>
            
            <div class="day">
                <h3>Вторник и Пятница</h3>
                <ul>
                    <li>Приседания (3 подхода по 10-12 повторений)</li>
                    <li>Отжимания от пола или от скамьи (3 подхода по 5-8 повторений)</li>
                    <li>Скручивания (3 подхода по 10-15 повторений)</li>
                </ul>
            </div>
            
            <div class="day">
                <h3>Среда</h3>
                <ul>
                    <li>Отдых или легкая зарядка</li>
                </ul>
            </div>
        </div>
        
        <div class="level intermediate">
            <h2>Средний уровень (Оценки 3-6)</h2>
            <div class="day">
                <h3>Понедельник и Четверг</h3>
                <ul>
                    <li>Бег в умеренном темпе 20-25 минут</li>
                    <li>Приседания (3 подхода по 12-15 повторений)</li>
                    <li>Подтягивания  (3 подхода по 8-10 повторений)</li>
                    <li>Планка (3 подхода по 30-40 секунд)</li>
                </ul>
            </div>
            
            <div class="day">
                <h3>Вторник и Пятница</h3>
                <ul>
                    <li>Отжимания от пола или от скамьи (3 подхода по 8-12 повторений)</li>
                    <li>Подъемы ног в висе (3 подхода по 10-12 повторений)</li>
                    <li>Скручивания (3 подхода по 12-15 повторений)</li>
                </ul>
            </div>
            
            <div class="day">
                <h3>Среда</h3>
                <ul>
                    <li>Легкий бег 15-20 минут или замена на плавание</li>
                </ul>
            </div>
        </div>
        
        <div class="level advanced">
            <h2>Продвинутый уровень (Оценки 6-10)</h2>
            <div class="day">
                <h3>Понедельник и Четверг</h3>
                <ul>
                    <li>Бег 30-40 минут в умеренном или интенсивном темпе</li>
                    <li>Подтягивания (3 подхода по 8-12 повторений)</li>
                    <li>Приседания с гантелями или штангой (3 подхода по 12-15 повторений)</li>
                    <li>Разнонаправленные планки (боковые, на предплечьях) - 3 подхода по 30-45 секунд</li>
                </ul>
            </div>
            
            <div class="day">
                <h3>Вторник и Пятница</h3>
                <ul>
                    <li>Отжимания от пола (3 подхода по 10-15 повторений)</li>
                    <li>Махи гантелями (3 подхода по 12-15 повторений)</li>
                    <li>Скручивания (3 подхода по 15-20 повторений)</li>
                </ul>
            </div>
            
            <div class="day">
                <h3>Среда</h3>
                <ul>
                    <li>Интенсивный бег (высокая интенсивность на коротких интервалах)</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
